html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Inter', sans-serif;
    background-color: #838F9C;

}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;

}

h3 {
    font-size: 25px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}


p {
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.container {
    max-width: 1312px;
    padding: 0 48px;
    margin: 0 auto;
}

main {
    flex: 1 0 auto;
}

/*======== Header =========*/

.header {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px 0 150px;
    margin-bottom: 70px;
    position: relative;
    z-index: 5;
}



@media (min-width: 1200px) {
    .header {
        background-image: url(../img/bg-desctop.jpg);
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .header {
        background-image: url(../img/bg-tablet.jpg);
    }

}

@media (max-width: 640px) {
    .header {
        background-image: url(../img/bg-mobile.jpg);
    }
}


.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #060A0E;
    opacity: 0.5;
    z-index: -5;
}

.headline {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;
}

.header__title_sub {
    text-align: center;
}

.header__title {
    text-align: center;
}

.btn-connection {
    visibility: hidden;
}

@media (max-width: 640px) {
    .headline {
        flex-direction: column;
        justify-content: center;
    }

    .header__title {
        font-size: 20px;
    }

    .btn-connection {
        display: block;
        visibility: visible;
        font-size: 17px;
        text-align: center;
        letter-spacing: 0.1em;
        padding: 17px 37px;
        border-radius: 6px;
        color: #fff;
        border: 1px solid #fff;
        width: 238px;
        transition: all 0.5s ease;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .btn-connection:hover {
        background: #E8E3DA;
        color: #C2C8CF;
    }



    .img__logo {
        margin: 90px auto 0;
    }

    .contacts {
        display: none;
    }
}


a[href^="mailto:"] {
    font-size: 18px;
    line-height: 24px;
    color: #E7E9F5;

}

a[href^="tel:"] {
    font-size: 18px;
    line-height: 24px;
    color: #E7E9F5;
}

.header__subtitle {
    padding-top: 70px;
    text-align: center;
    font-size: 24px;
    color: #E7E9F5;
}

.header__title {
    text-align: center;
    width: 690px;
    font-size: 30px;
    color: #E7E9F5;
    margin: 80px auto 70px;
}

@media (min-width: 641px) and (max-width: 1199px) {

    .header__title {
        font-size: 30px;
        text-align: center;
        width: 510px;
    }

    .btn {
        display: block;
        padding: 16px 30px;
    }


}

@media (max-width: 640px) {
    .header__title {
        font-size: 20px;
        width: 200px;
    }

}

@media (max-width: 560px) {
    .header__title {
        font-size: 18px;
    }
}

.btn {
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 37px;
    border-radius: 6px;
    color: #E7E9F5;
    border: 1px solid #fff;
    width: 238px;
    transition: all 0.5s ease;
    margin: 0 auto;
    margin-bottom: 30px;
}

.btn:hover {
    background: #E8E3DA;
    color: #838F9C;
}

.about {
    color: #fff;
    margin-bottom: 40px;
}

.about__content {
    display: flex;
    flex-basis: auto;
    padding: 20px 0px;
    color: #fff;
}

.about__title {
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;

}

.about__description {
    line-height: 1.3;
    text-align: center;
}

.about__list {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    list-style: none;
    gap: 24px;
}

.about__item {
    padding: 10px 50px 6px 80px;
    background-position: left center;
    background-repeat: no-repeat;
    background-repeat: 60px;
    background-size: 60px;
    min-height: 60px;
    text-align: center;

}

.about__item_prof {
    background-image: url("../svg/профессионал.svg");
}

.about__item_garant {
    background-image: url("../svg/гарантия.svg");
}

.about__item_const {
    background-image: url("../svg/чертеж.svg");
}


.about__item-title {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 400;
}

.about__item-description {
    margin: 0;
    line-height: 1.3;
}

@media (min-width: 641px) and (max-width: 1199px) {

    .about__description {
        font-size: 14px;
    }

    .about__content {
        display: flex;
        align-items: center;


    }

    .about__item {
        padding: 60px 20px 0px;
        font-size: 14px;
        background-repeat: 50px;
        background-size: 50px;
        min-height: 50px;

    }
}

@media (max-width: 1024px) {
    .about__description {
        margin-bottom: 46px;
    }


    .about__item {
        background-position: top center;
    }
}



@media (max-width: 560px) {


    .about__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about__item-title {
        font-size: 16px;
    }

    .about__title {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .about__description {
        font-size: 14px;
    }

    .about__item {
        padding: 60px 20px 0px;
        min-height: 50px;
        background-size: 50px;
        font-size: 14px;
    }
}

.services__title {
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.services__wrapper-content {
    display: flex;
    gap: 100px;
}

.services__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: #fff;
}

.services__item {
    display: flex;
    line-height: 1;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 5px;
    border-bottom: 1px solid #BFBDB2;
    padding-bottom: 20px;

}
.services__item-text {
    padding: 20px 0 20px;
    text-transform: none;
    font-size: 16px;
}
.services__item-price {
    font-size: 16px;
    line-height: normal;
}
.services__gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 10px;
    max-width: 700px;

}

.gallery__item {
    margin: 0;
    padding-left: 15px;
}

.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

}

.gallery__item--2 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--3 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}


.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
}


.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery__item--6 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
}

.gallery__item--7 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
}

@media (max-width: 768px) {
    .services {
        display: flex;
    }

    .services__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services__item {
        font-size: 14px;
        padding-bottom: 15px;
        margin-bottom: 20px;
        text-align: center;
    }



    .services__wrapper-content {
        flex-direction: column;
        justify-content: center;
        gap: 50px;

    }

    .services__gallery {
        display: flex;
        flex-direction: column;
    }

    .gallery__item img {
        max-width: 300px;
        max-height: 300px;
    }

    .services__title {
        font-size: 18px;
    }

}

@media (max-width: 560px) {
    .services__item-title {
        font-size: 16px;
        padding-bottom: 10px;
        text-align: center;

    }
}

footer {
    background-color: #626569;
}


.footer__adress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
}

.nav__ul {
    list-style: none;
}

.footer-col ul li a {
    color: #E7E9F5;
    font-size: 14px;
    padding-bottom: 20px;
}

.nav__title {
    color:  #E7E9F5;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-col {
    width: 25%;
    padding: 0 50px;
    font-size: 14px;
    display: block;

}

@media(max-width: 767px) {
    .footer__logo {
        margin: 0 auto;
        padding-bottom: 30px;


    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        text-align: center;

    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
        text-align: center;
    }
}